#gameElement {
	width: 502px;
	height: 800px;
	border: 1px solid black;
	position: absolute;
}

.ballzz {
	height:20px;
	width: 20px;
	background-color: #FF8700;
	border: 1px solid black;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;

	position: absolute;

}
