#gameElement {
	width: 502px;
	height: 400px;
	border: 10px groove black;
	position: absolute;
}

.ballzz {
	height:20px;
	width: 20px;
	background-color: #FF8700;
	border: 1px solid black;

	border-radius: 100px;

	position: absolute;

}

.bar {
	border: 1px solid green;
	height: 10px;
	top: 100;
	position: absolute;
}

.module {
	background-color: #2618B1;
	height: 10px;
	float: left;
}

.moduleleftround {
	background-color: #2618B1;
	position: absolute;
}
